.logo {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin: 80px auto 73px auto;
  opacity: 1 ;
  transition-duration: 0.4s;
}
