.mailbox {
  position: relative;
  background-color: #232323;
  border-radius: 8px;
  width: 410px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 20px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.3);

  .hello {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .text-area {
    color: #cecece;
  }

  .input-mail {
    background-color: #353535;
    border: 1px solid rgba(255, 232, 31, 0.3);
    height: 32px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    margin: 24px 0 26px 0;
    outline: none;
    transition-duration: 0.4s;
  }

  .invalid-input {
    border: 1px solid #C47768 !important;
  }

  .input-mail.focused {
    border: 1px solid #FFE81F;
  }

  .input-mail.valid {
    border: 1px solid #03DAC6;
  }

  .invalid-text {
    font-size: 12px;
    position: absolute;
    top: 150px;
    left: 25px;
    color: #C47768;
    opacity: 0;
    transition-duration: 0.4s;
  }

  .invalid-text.on {
    opacity: 1;
  }

  
}
// atenção com identações aqui
// button vai para o base como
.button {
  background-color: #232323;
  height: 40px;
  width: 100%;
  margin-bottom: 6px;
  left: 24px;
  top: 160px;
  border-radius: 8px;
  border: 1px solid #353535;
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.32);
  transition-duration: 0.4s;
}

.button.valid {
  background-color: #FFE81F;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  border: none;
  color: #20182B;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.4);
  }
}

.button.valid.focused {
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.4);
  border: 1px solid #353535;
}