.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.4s;
  background-color: #232323;
  width: 75%;
  max-width: 440px;
  max-height: 95vh;
  overflow: overlay;
  margin: 0 auto;
  padding: 24px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  .result-title {
    margin-top: 32px;
    font-size: 20px;
  }

  .tag-list {
    color: #dfdfdf;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;

    .result-tag {
      background-color: #353535;
      margin: 8px 8px 1px 0px;
      padding: 4px 8px;
      border-radius: 4px;
    }

    .result-tag.result-na {
      background-color: #232323;
      color: rgba(255, 255, 255, 0.32);
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  .button.valid {
    margin-top: 40px;
  }
}
